In [1]:
import pandas as pd

In [5]:

# Citeste din fisierul  'african_econ_crises.csv'
df = pd.read_csv("african_econ_crises.csv")
df

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [6]:
## Citeste primele 5 randuri
df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [7]:
## Citeste 10 randuri
df.head(10)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
5,1,DZA,Algeria,1875,0,0.051546,0,0,0.0,-20.924178,0,0,0,no_crisis
6,1,DZA,Algeria,1876,0,0.051867,0,0,0.0,-1.769547,0,0,0,no_crisis
7,1,DZA,Algeria,1877,0,0.051867,0,0,0.0,29.116045,0,0,1,no_crisis
8,1,DZA,Algeria,1878,0,0.051948,0,0,0.0,-1.492537,0,0,0,no_crisis
9,1,DZA,Algeria,1879,0,0.052029,0,0,0.0,-16.831357,0,0,0,no_crisis

In [13]:
## Citeste coloana cu tari
df["country"]
df.country

0        Algeria
1        Algeria
2        Algeria
3        Algeria
4        Algeria
          ...
1054    Zimbabwe
1055    Zimbabwe
1056    Zimbabwe
1057    Zimbabwe
1058    Zimbabwe
Name: country, Length: 1059, dtype: object

In [11]:
## Printeaza tarile, o singura data
df["country"].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

In [16]:

### Crearea unei serii noi in functie de o conditie 
df[df["systemic_crisis"]==1]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,5.226400e-02,0,0,0.00,3.441456e+00,0,0,0,crisis
60,1,DZA,Algeria,1990,1,1.219080e+01,0,0,0.00,9.272000e+00,1,1,0,crisis
61,1,DZA,Algeria,1991,1,2.139190e+01,0,1,0.23,2.590000e+01,1,1,1,crisis
62,1,DZA,Algeria,1992,1,2.278140e+01,0,1,0.23,3.170000e+01,1,0,1,crisis
181,10,CAF,Central African Republic,1976,1,2.484873e+02,0,0,0.00,1.051051e+01,1,0,0,crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,70,ZWE,Zimbabwe,2005,1,8.460000e-22,1,1,0.00,5.858444e+02,1,1,1,crisis
1051,70,ZWE,Zimbabwe,2006,1,3.000000e-19,1,1,0.00,1.281114e+03,1,1,1,crisis
1052,70,ZWE,Zimbabwe,2007,1,1.900000e-16,1,1,0.00,6.627989e+04,1,1,1,crisis
1053,70,ZWE,Zimbabwe,2008,1,2.000000e-03,1,1,0.00,2.198970e+07,1,1,1,crisis
1054,70,ZWE,Zimbabwe,2009,1,3.548000e+02,1,1,0.00,-7.670000e+00,1,1,0,crisis

In [12]:
### Filtrare dupa o tara (ex: Algeria)
df[df["country"] == "Algeria"]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1,DZA,Algeria,2010,0,74.943700,0,0,0.0,3.913000,1,0,0,no_crisis
81,1,DZA,Algeria,2011,0,76.056300,0,0,0.0,4.522000,1,0,0,no_crisis
82,1,DZA,Algeria,2012,0,78.102500,0,0,0.0,8.916000,1,0,0,no_crisis
83,1,DZA,Algeria,2013,0,78.148701,0,0,0.0,3.255000,1,0,0,no_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917000,1,0,0,no_crisis

In [19]:
## Sortarea dupa o anumita valoare
df[df["year"] == 1999]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
69,1,DZA,Algeria,1999,0,6.931430e+01,0,0,0.0,2.600000,1,0,0,no_crisis
146,2,AGO,Angola,1999,0,5.579920e+00,1,1,0.0,248.248000,1,2,1,no_crisis
204,10,CAF,Central African Republic,1999,1,6.529534e+02,0,1,0.0,-1.415000,1,0,0,crisis
267,15,CIV,Ivory Coast,1999,0,0.000000e+00,0,0,0.0,0.920000,1,0,0,no_crisis
422,19,EGY,Egypt,1999,0,3.405000e+00,0,0,0.0,3.745000,1,0,0,no_crisis
489,35,KEN,Kenya,1999,1,7.293060e+01,0,0,0.0,5.753000,1,1,0,no_crisis
557,38,MUS,Mauritius,1999,0,2.546800e+01,0,0,0.0,6.872000,1,0,0,no_crisis
632,40,MAR,Morocco,1999,0,1.008700e+01,0,0,0.0,0.690000,1,0,0,no_crisis
692,45,NGA,Nigeria,1999,0,9.795000e+01,0,0,0.0,6.618000,1,1,0,no_crisis
807,56,ZAF,South Africa,1999,0,6.154500e+00,0,0,0.0,5.211000,1,0,0,no_crisis
881,63,TUN,Tunisia,1999,0,1.252500e+00,0,0,0.0,2.768000,1,0,0,no_crisis
953,69,ZMB,Zambia,1999,0,2.760000e+00,0,0,0.0,26.790000,1,0,1,no_crisis
1044,70,ZWE,Zimbabwe,1999,1,3.720000e-25,0,0,0.0,56.923203,1,0,1,crisis

In [17]:
## Salveaza valorile intr-un json
df.to_json("african.json")